# Project exclude paths
/cmake-build-debug/
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-5749d6fd5f86a0027313.json
/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-fb0612030d5e98af84a6.json
/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-4c21aa0e7289ea7b9109.json
/out/build/x64-Debug/.cmake/api/v1/reply/index-2019-09-27T01-07-28-0223.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-horre-Debug-d597828fc6a066c5f1ca.json
/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CMakeCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CMakeCXXCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CMakeDetermineCompilerABI_C.bin
/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CMakeRCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.14.19050301-MSVC_2/CMakeSystem.cmake
/out/build/x64-Debug/CMakeFiles/horre.dir/glad/src/glad.c.obj
/out/build/x64-Debug/CMakeFiles/horre.dir/src/Entity.cpp.obj
/out/build/x64-Debug/CMakeFiles/horre.dir/src/main.cpp.obj
/out/build/x64-Debug/CMakeFiles/horre.dir/src/Mesh.cpp.obj
/out/build/x64-Debug/CMakeFiles/horre.dir/src/Model.cpp.obj
/out/build/x64-Debug/CMakeFiles/horre.dir/src/ResourceSet.cpp.obj
/out/build/x64-Debug/CMakeFiles/horre.dir/src/Shader.cpp.obj
/out/build/x64-Debug/CMakeFiles/horre.dir/src/Texture.cpp.obj
/out/build/x64-Debug/CMakeFiles/horre.dir/src/Window.cpp.obj
/out/build/x64-Debug/CMakeFiles/horre.dir/embed.manifest
/out/build/x64-Debug/CMakeFiles/horre.dir/intermediate.manifest
/out/build/x64-Debug/CMakeFiles/horre.dir/manifest.rc
/out/build/x64-Debug/CMakeFiles/horre.dir/manifest.res
/out/build/x64-Debug/CMakeFiles/horre.dir/vc140.idb
/out/build/x64-Debug/CMakeFiles/horre.dir/vc140.pdb
/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
/out/build/x64-Debug/CMakeFiles/feature_tests.bin
/out/build/x64-Debug/CMakeFiles/feature_tests.c
/out/build/x64-Debug/CMakeFiles/feature_tests.cxx
/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug/CMakeFiles/vcpkg.config.cmake
/out/build/x64-Debug/Testing/Temporary/LastTest.log
/out/build/x64-Debug/.ninja_deps
/out/build/x64-Debug/.ninja_log
/out/build/x64-Debug/assimp-vc140-mtd.dll
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug/cmake_install.cmake
/out/build/x64-Debug/CMakeCache.txt
/out/build/x64-Debug/glfw3.dll
/out/build/x64-Debug/horre.exe
/out/build/x64-Debug/horre.ilk
/out/build/x64-Debug/horre.pdb
/out/build/x64-Debug/rules.ninja
/out/build/x64-Debug/VSInheritEnvironments.txt
/out/build/x64-Debug/zlibd1.dll
/.vs/horre/v16/ipch/AutoPCH/3eca1139529b0b55/WINDOW.ipch
/.vs/horre/v16/ipch/AutoPCH/aa8278ca87ada4c2/MESH.ipch
/.vs/horre/v16/ipch/AutoPCH/b0d07fc822b8b2a2/ENTITY.ipch
/.vs/horre/v16/ipch/AutoPCH/f510450439823b50/SHADER.ipch
/.vs/horre/v16/.suo
/.vs/horre/v16/Browse.VC.db
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/CMakeSettings.json
xcode

